* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
/* Estilizando la sección del soporte */

#soporte {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom:0;
  right: 0;
  background-color: #28282D;
  border-radius: 60px;
  margin: 20px;
}

#soporte:hover {
  background-color: #3a3a3b;
  fill-opacity: 1;
}

/* Estilizando la barra de menú del header */
.header {
  display: flex;
  align-items: center;
  background-color: #28282D;
  height: 100px;
}

.header > div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}
  
.logo {
  background-color: #D9D9D9;
  font-size: 16px;
  font-family: 'Jockey One', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52.5px;
  height: 50px;
  margin-left: 100px;
}
  
.nav_header ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 24px;
}

.nav_header li {
  height: 24px;
  width:max-content;

}
  
.nav_header ul {
  padding-left: 4rem;
}
  
.nav_header ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}


.nav_header ul li a:hover,
.nav_footer ul li a:hover {
  color:beige;
}

#nav_enlaces_externos ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_registro {
  display: flex;
  list-style: none;
  border: 1px solid white;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.nav_registro:first-child {
  width: 174px;
  height: 36px;
  text-align: center;
  margin-left: 150px;
  margin-right: 18px;
}

.nav_registro:last-child {
  width: 164px;
  height: 36px;
  text-align: center;
}


.nav_registro a {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.nav_registro:hover{
  font-weight: bold;
  border: 2px solid white;
}
  
/* Estilizando la sección de búsqueda */
  
#busqueda {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #DADADA;
  width: 885px;
  height: 153px;
  margin: 0 auto;
  margin-top: 71px;
  margin-bottom: 140px;
  font-family: 'Roboto', sans-serif;
  border-radius: 5px;
}
  
.buscar_contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.buscar_contenedor h2 {
  margin: 15px;
}
  
.buscar_contenedor form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
  
.buscar_contenedor input {
  width: 360px;
  height: 36px;
  border-color: transparent;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
}
  
.buscar_contenedor button {
  margin-top: 10px;
  margin-bottom: 25px;
  background-color: #1B1C20;
  color: white;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
  border-color: transparent;
  width: 130px;
  height: 40px;
}

.buscar_contenedor button:hover {
  font-weight: bold;
  background-color: #28292a;
}
  
/* Estilizando la sección de deportes*/
  
#deportes h2{
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 61px;
}

.contenedor_deportes {
  display: flex;
  justify-content: space-around;
  font-family: 'Jockey One', sans-serif;
  margin-bottom: 187px;
}
  
#futbol {
  background: url(../image/deportes_img/3\,1.png);
}


#basquetbol {
  background-image: url(../image/deportes_img/4\,1.png);
}


#voleibol {
  background-image: url(../image/deportes_img/1.png);
}

#futbol,
#basquetbol,
#voleibol {
  background-size: cover;
  width: 285px;
  height: 285px;
  border-radius: 6px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
}

#futbol img,
#basquetbol img,
#voleibol img {
  margin: 10px;
}


#futbol:hover,
#basquetbol:hover,
#voleibol:hover {
  background-size: 300px;
}

/* Estilizando la sección de Noticias principales*/

#noticias_principales h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 117px;
  font-family: 'Roboto', sans-serif;
}

.contenedor_noticias {
  display: flex;
  flex-flow: wrap row;
  justify-content: space-around;
  margin-bottom: 185px;
  text-align: center;
  flex-wrap: wrap;
}

.contenedor_noticias img {
  width: 345.78px;
  height: auto;
}

.contenedor_noticias h5 {
  margin: 15px;
}

#noticia1,
#noticia2,
#noticia3,
#noticia4,
#noticia5,
#noticia6 {
  border: 1px solid black;
  margin-bottom: 50px;
  margin-inline: 100px;
  flex-wrap: wrap row;
}

/* Se estiliza la sección de tiendas */

#tiendas_recomendadas h2{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 117px;
  font-family: 'Roboto', sans-serif;
}

.contenedor_tiendas {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.contenedor_tiendas img {
  width: 300px;
  height: auto;
}

.contenedor_tiendas h5 {
  margin: 15px;
}

#tienda1,
#tienda2,
#tienda3 {
  border: 1px solid black;
  margin-bottom: 50px;
  margin-inline: 100px;
}

/* Estilizando el footer */

#footer {
  background-color: #28282D;
  height: 120px;
  display: flex;
  align-items: center;
  list-style: none;
  gap: 4rem;
  justify-content: space-around;
}

.nav_footer ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  gap: 4rem;
}

.nav_footer ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
}